<div class="container">
  <div class="panel">
    <img class="card-img-top" src="{{vehicle.image}}" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">{{vehicle.year}} {{ vehicle.manufacturer.Make_Name }} {{vehicle.model}}</h3>
    </div>
  </div>
  <app-last-service></app-last-service><br>
  <app-next-service></app-next-service><br>
  <div class="col-md-12 text-center">
      <a routerLink="addMaintenance" class="btn btn-primary btn-lg btn-block fixed-bottom">
        Add Service <span class="icon-plus"></span></a>
    </div>
</div>