<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h6 class="uppercaps">PRICE HISTORY</h6>
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="priceHistoryData2" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
        </ngx-charts-line-chart>
        <div class="float-right">
            Total Cost: ${{sum}}
        </div>
         
      </div>
    </div>
  </div>
</div>