<div class="container">
    <h3>Add Service</h3>
    <form [formGroup]="addMaintenanceForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="date">Select a Date:</label>
            <my-date-picker name="date" [options]="myDatePickerOptions" formControlName="date"></my-date-picker>
        </div>
        <div class="form-group">
            <label for="mileage">Mileage:</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="199,000" formControlName="mileage">
                <div class="input-group-append">
                    <div class="input-group-text">miles</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" placeholder="Firestone" formControlName="location">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="text" class="form-control" placeholder="19.99" formControlName="price">
            </div>
        </div>
        <div class="form-group">
            <label for="type">Select a Maintenance Type:</label>
            <select multiple type="checkbox" class="form-control" formControlName="type">
                <option>Select a Maintenance Type...</option>
                <option *ngFor="let item of maintenanceTypes" [value]="item">{{item.Type}}</option>
            </select>
        </div>
        <br>
        <br>
        <h5>When's Your Next Service?</h5>
        <div class="form-group">
            <label for="date">Next Service Due Date:</label>
            <my-date-picker name="future-date" [options]="myDatePickerOptions" formControlName="futuredate"></my-date-picker>
        </div>
        <div class="form-group">
                <label for="mileage">Next Service Mileage:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="199,000" formControlName="futuremiles">
                    <div class="input-group-append">
                        <div class="input-group-text">miles</div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>