<div class="container">
  <form [formGroup]="addVehicleForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Vehicle Name" formControlName="name">
        </div>
      </div>
      <div class="form-row">
          <div class="col">
            <select class="form-control" formControlName="year">
              <option >Select a year...</option>
              <option  *ngFor="let year of yearsArray" [value]="year">{{year}}</option>
            </select>
            <select class="form-control" formControlName="manufacturer" (change)="manufacturerChanged()" *ngIf="makes">
                <option >Select a Manufacturer...</option>
                <option  *ngFor="let item of makes.Results" [value]="item.Make_Name">{{item.Make_Name}}</option>
              </select>
            <select class="form-control" formControlName="model"  *ngIf="models">
                <option >Select a Model...</option>
                <option  *ngFor="let item of models.Results" [value]="item.Model_Name">{{item.Model_Name}}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
