<div class="container">
  <div class="row">
      <div class="col-sm-1 col-md-4">
          <h2>Maintenance</h2>
        </div>
      <div class="col-sm-11 col-md-8">
          <div class="float-right">
            <div class="addButton">
              <a routerLink="addMaintenance" class="btn btn-primary btn-md">Add Maintenance
                <span class="oi oi-plus"></span>
              </a>
            </div>
          </div>
        </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Mileage</th>
              <th scope="col">Location</th>
              <th scope="col">Price</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let maintenace of maintenaceItems | async">
              <td>{{maintenace.date.formatted}}</td>
              <td>{{maintenace.mileage}}</td>
              <td>{{maintenace.location}}</td>
              <td>{{maintenace.price}}</td>
              <td>{{maintenace.type}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    
  </div>
</div>