<div class="container">
  <div class="row">
    <div class="col-sm-1 col-md-12">
      <h1 class="display-4">My Vehicles</h1>
    </div>
  </div>

  <div>
    <div *ngIf="vehicles | async; let vehicleItems; else novehicles">
      <div class="row" *ngIf="vehicleItems.length > 0">
        <ng-container *ngFor="let vehicle of vehicleItems">
          <div class="col-md-6 col-sm-12">
            <div class="card">
              <img class="card-img-top" src="{{vehicle.image}}" alt="Card image cap">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h3>{{vehicle.year}} {{vehicle.manufacturer.Make_Name}} {{vehicle.model}}</h3>
                  </div>
                </div>
                <div class="row" *ngIf="maintenance | async; let maintenanceItems">
                  <div class="col-md-6" *ngFor="let item of maintenanceItems">
                    <h6 class="uppercaps">NEXT SERVICE</h6>
                    <p class="card-attrs">
                      <span class="icon-speedometer"></span> {{item.futuremiles}} miles</p>
                    <p class="card-attrs">
                      <span class="icon-calendar"></span> {{item.futuredate.formatted}}</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <a routerLink="detail/{{vehicle.id}}" class="btn btn-primary float-right">See Details</a>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-template #noVehicles></ng-template>
      <div class="row">
          <a routerLink="add" class="btn btn-primary btn-lg btn-block">Add a Vehicle
            <span class="icon-plus"></span>
          </a>
        </div>
    </div>
  </div>

</div>