/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: white;
    color: #007bff;
}

.btn {
    border-radius: 0.50rem;
}

.card {
    /* Rectangle 5: */
background: #FFFFFF;
border: 1px solid #E2E1E1;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
border-radius: 4px;
-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.card:hover {
box-shadow: 0 4px 4px 0 rgba(0,0,0,0.13);
}

.uppercaps {
    /* NEXT SERVICE: */
font-family: OpenSans-Bold;
font-size: 1rem;
color: #9B9B9B;
}

.card-attrs {
    /* 199,000 miles: */
font-family: OpenSans-Light;
font-size: 1.3rem;
color: #4A4A4A;
margin-bottom: .5rem;
}
.detailsButton {
    margin-top: 100%;
}

.btn-google {
    /* button bg: */
background: #FFFFFF;
box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
border-radius: 2px;
font-size: 14px;
color: rgba(0,0,0,0.54);
letter-spacing: 0.22px;
-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-google:hover {
box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 2px 0 rgba(0,0,0,0.24);
}

#Google-Button {
    margin-left: 0;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}