<div *ngIf="maintenaceItem | async; let items">
  <div class="card" *ngFor="let item of items">
    <div class="card-body">
      <h6 class="uppercaps">LAST SERVICE</h6>
      <div class="row">
        <div class="col-sm-6">
          <p class="card-attrs">
            <span class="icon-speedometer"></span> {{item.mileage}} miles</p>
          <p class="card-attrs">
            <span class="icon-calendar"></span> {{item.date.formatted}}</p>
        </div>
        <div class="col-sm-6">
          <p class="card-attrs">
            <span class="icon-tag"></span> ${{item.price}}</p>
          <p class="card-attrs" *ngIf="item.type.length < 1; else multipleTypes">
            <span class="icon-wrench"></span> {{item.type}}</p>
          <ng-template #multipleTypes>
            <p class="card-attrs" *ngFor="let types of item.type">
              <span class="icon-wrench"></span> {{types.Type}}</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="card-footer">
        <span class="icon-location-pin"></span><small class="text-muted"> {{item.location}}</small>
        <a routerLink="maintenanceList" class="btn btn-outline-primary float-right">See Service History</a>
    </div>
  </div>
</div>